body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
    transition: background-color 0.3s ease;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.container {
    max-width: 70%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.dias-list {
    list-style: none;
    padding: 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.dias-list button {
    padding: 12px 24px;
    cursor: pointer;
    border: 2px solid rgba(79, 87, 33, 0.518);
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
    background-color: transparent;
    color: #4f5721;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    outline: none;
}
.dias-list button:hover {
    background-color:rgba(79, 87, 33, 0.518);
    color: #fff;
    transform: translateY(-3px);
}

#video-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#video-preview iframe {
    width: 100%;
    max-width: 1000px;
    height: 563px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s ease;
}

#video-preview p {
    text-align: center;
}